@{
    Layout = "";
}
@Styles.Render("~/Content/css")
<style>
    #map {
        height: 400px;
    }

    [ng-click],
    [data-ng-click],
    [x-ng-click] {
        cursor: pointer;
    }
</style>
<body>
    <div ng-controller="VozController">
        <p>
            <div id="map"></div>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrjeABCsOwW1rhi7eW6_b_fWF8OK2HeiA&callback=initMap">
            </script>
        </p>
        <p>
            <button type="button" ng-click="osveziPoziciju()">Osvezi poziciju</button>
        </p>

        <div ng-show="komentarForma">
            <p>Zelite li da ostavite komentar?</p>
            <p>
                Opis vaseg iskustva:
                <input type="text" id="lokacija" ng-model="komentar.opis">
            </p>
            <p>
                Ocena:
                <select id="zeljeniTip" ng-model="komentar.ocena">
                    <option value="0" selected="selected">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </p>
            <p>
                <button type="button" ng-click="komentarisi()">Posaljite komentar</button>
                <button type="button" ng-click="komentarForma!=komentarForma">Ne zelim da komentarisem</button>
            </p>
        </div>

        <p>
            <div class="input-group">
                <div><i class="fa fa-search"></i></div>
                <input type="text" placeholder="Nađite voznju" ng-model="search">
                <select ng-model="tipFiltera">
                    <option ng-repeat="x in filteri" value="{{x.model}}">{{x.model}}</option>
                </select>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'vreme'; sortReverse = !sortReverse">
                                Vreme
                                <span ng-show="sortType == 'vreme' && !sortReverse"></span>
                                <span ng-show="sortType == 'vreme' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'lokacija.adresa'; sortReverse = !sortReverse">
                                Adresa klijenta
                                <span ng-show="sortType == 'lokacija.adresa' && !sortReverse"></span>
                                <span ng-show="sortType == 'lokacija.adresa' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'zeljeniTip'; sortReverse = !sortReverse">
                                Zeljeni tip vozila
                                <span ng-show="sortType == 'zeljeniTip' && !sortReverse"></span>
                                <span ng-show="sortType == 'zeljeniTip' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'odrediste.adresa'; sortReverse = !sortReverse">
                                Odredište
                                <span ng-show="sortType == 'odrediste.adresa' && !sortReverse"></span>
                                <span ng-show="sortType == 'odrediste.adresa' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'dispecerUsername'; sortReverse = !sortReverse">
                                Dispečer
                                <span ng-show="sortType == 'dispecerUsername' && !sortReverse"></span>
                                <span ng-show="sortType == 'dispecerUsername' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'vozacUsername'; sortReverse = !sortReverse">
                                Vozač
                                <span ng-show="sortType == 'vozacUsername' && !sortReverse"></span>
                                <span ng-show="sortType == 'vozacUsername' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'iznos'; sortReverse = !sortReverse">
                                Iznos
                                <span ng-show="sortType == 'iznos' && !sortReverse"></span>
                                <span ng-show="sortType == 'iznos' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                                Status
                                <span ng-show="sortType == 'status' && !sortReverse"></span>
                                <span ng-show="sortType == 'status' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'komentar.opis'; sortReverse = !sortReverse">
                                Komentar
                                <span ng-show="sortType == 'komentar.opis' && !sortReverse"></span>
                                <span ng-show="sortType == 'komentar.opis' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'komentar.ocena'; sortReverse = !sortReverse">
                                Ocena
                                <span ng-show="sortType == 'komentar.ocena' && !sortReverse"></span>
                                <span ng-show="sortType == 'komentar.ocena' && sortReverse"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'komentar.username'; sortReverse = !sortReverse">
                                Komentator
                                <span ng-show="sortType == 'komentar.username' && !sortReverse"></span>
                                <span ng-show="sortType == 'komentar.username' && sortReverse"></span>
                            </a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="voznja in lista | orderBy:sortType:sortReverse | filter:search">
                        <td>{{ voznja.vreme }}</td>
                        <td>{{ voznja.lokacija.adresa }}</td>
                        <td>{{ voznja.zeljeniTip }}</td>
                        <td>{{ voznja.odrediste.adresa }}</td>
                        <td>{{ voznja.dispecerUsername }}</td>
                        <td>{{ voznja.vozacUsername }}</td>
                        <td>{{ voznja.iznos }}</td>
                        <td>{{ voznja.status }}</td>
                        <td>{{ voznja.komentar.username }}</td>
                        <td>{{ voznja.komentar.opis }}</td>
                        <td>{{ voznja.komentar.ocena }}</td>
                        <td><button class="button" ng-click="stanjePlus(voznja)">Preuzmi/Zapocni voznju</button></td>
                        <td><button class="button" ng-click="stanjeMinus(voznja)">Ponisti voznju</button></td>
                    </tr>
                </tbody>
            </table>
        </p>
        <p>
            <button type="button" ng-click="refresh()">Osvezi listu</button>
        </p>
        {{errorName}}
    </div>
</body>


